<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col-md-6 offset-md-3 form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="col-md-6 offset-md-3 actions">
    <%= f.submit "Resend confirmation instructions",class:'btn btn-lg btn-primary btn-block rounded-pill' %>
  </div>
<% end %>
<div class="col-md-6 offset-md-3 form-group">
  <%= render "devise/shared/links" %>
</div>