  
  <div class="border-bottom  col-sm-8 offset-sm-2">
    <div class="comment-body">
      <h5 class="comment-username">
        <%= image_tag comment.user.image.thumb40.url %>
        <%= link_to "#{comment.user.username}",user_path(comment.user)%>
      </h5>
      <h6 class="card-title mb-2 text-muted"><%= comment.title %></h6>
      <p class="card-text"><%= simple_format comment.content %></p>
      <% if current_user.admin? %>
        <p>
          <%= link_to '削除', [comment.article, comment],
                  method: :delete, data: { confirm: '削除しますか？' } %>
        </p>
      <% end %>
    </div>
  </div>
  
