<div class="border-bottom">
  <div class="comment-body">
    <p class="comment-username">
      <%= image_tag comment.user.image.thumb40.url %>
      <%= link_to "#{comment.user.username}",user_path(comment.user)%>
    </p>
    <h6 class="card-title mb-2"><%= comment.title %></h6>
      <p class="card-text"><%= simple_format comment.content %></p>
      <p class="card-text">投稿日：<%= comment.created_at %></p>
    <% if current_user.admin? %>
      <p>
        <%= link_to '削除', [comment.article, comment],
                method: :delete, data: { confirm: '削除しますか？' } %>
      </p>
    <% end %>
  </div>
</div>
  
