<% provide(:title, "編集") %>
<%= form_for @article, method: :patch do |f| %>

  <%= render 'form'%>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :store_name, "店名" %><br>
    <%= f.text_field :store_name ,class: 'form-control'%>
  </div>
  
  <div class="col-md-6 offset-md-3 image">
    <%= f.label :store_name, "お店の画像" %><br>
    <% if @article.image? %>
      <%= image_tag @article.image.thumb ,class:"rounded mx-auto d-block" %>
        <div class="checkbox-inline">
          <label><%= f.check_box :remove_image %> 画像を削除</label>
        </div>
    <% else %>
      <%= image_tag 'default.jpg' %>
      <%= f.hidden_field :image_cache %> <!--バリデーション時などに画像を保持する-->
    <% end %>
      <div class="button-inline">
        <%= f.file_field :image %>
      </div>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :city_id, "エリア" %><br>
    <%= f.collection_select :city_id, City.all,:id,:name,:selected => @city.name %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :access, "アクセス" %><br>
    <%= f.text_area :access, cols: 60, rows: 8,class: 'form-control'%>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :wifi, "WI-FI" %><br>
    <%= f.text_area :wifi,class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :plug, "コンセント" %><br>
    <%= f.text_area :plug, class: 'form-control'%>
  </div>
  
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :business_hours, "営業時間" %><br>
    <%= f.text_area :business_hours, cols: 60, rows: 8,class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :regular_holiday, "定休日" %><br>
    <%= f.text_area :regular_holiday, cols: 60, rows: 8 ,class: 'form-control'%>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :phone, "電話番号"%><br>
    <%= f.text_field :phone ,class: 'form-control'%>
  </div>
 
  <div class="col-md-6 offset-md-3 form-article-edit">
    <%= f.label :url, "URL" %><br>
    <%= f.text_area :url, cols: 60, rows: 8 ,class: 'form-control'%>
  </div>
 
  <div class="col-md-6 offset-md-3 actions">
    <%= f.submit "更新する",class:'btn btn-lg btn-primary btn-block rounded-pill' %>
  </div>
  
<% end %>
<%= link_to '戻る', articles_path %>
