<!--検索機能-->
<%= search_form_for @search ,class:"form-inline" do |f|  %>
  
  <div class="form-group">
    <!--# store_nameカラムに対して部分一致検索ができる-->
    <%= f.label :city_id_eq, "エリア" %>
    <%= f.collection_select :city_id_eq,City.all,:id,:name,:include_blank => '東京都全域' %>
  </div>
  <div class="form-group">
    <%= f.label :store_name, "キーワードで絞り込む" %>
    <%= f.search_field :store_name,class: 'form-control-sm',placeholder:"例　スタバ　渋谷駅　"%>
  </div>  
  <div class="actions "><%= f.submit "検索",class:"btn-info" %></div>
<% end %>
<h2>検索結果：<%= @articles.count%>件</h2>
<%= paginate @articles %>

<% @articles.each do |article| %>
  <div class="card col-md-6 offset-md-3" >
    <img class="card-img-top" >
    <!--<%= image_tag article.image.thumb.url,class:"card-img-top" %>-->
    <%= image_tag article.image.thumb.url%>
    <div class="card-body">
      <h4 class="card-title"><%= article.store_name %></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of </p>
      <%= link_to '詳細', article %>
      <% if !current_user.nil? && current_user.admin? %>
        <%= link_to '編集', edit_article_path(article) %>
        <%= link_to '削除', article_path(article), 
          method: :delete, data: {confirm: '削除してもよろしいですか？'}%>
      <% end %>
      <p>いいねマーク</p>
    </div>
  </div>
<% end %>

