<h1>全ての投稿一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.store_name %></td>
      <td><%= article.adress %></td>
      <td><%= link_to '詳細', article %></td>
      <% if current_user.admin? %>
        <td><%= link_to '編集', edit_article_path(article) %></td>
        <td><%= link_to '削除', article_path(article), 
          method: :delete, data: {confirm: '削除してもよろしいですか？'}%></td>
      <% end %>
    </tr>
  <% end %>
</table>