<h1>記事投稿画面</h1>
  
<%= form_for @article, url: articles_path do |f| %>

  <%= render 'articles/form'%>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :store_name, "店名" %><br>
    <%= f.text_field :store_name,class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :image, "お店の画像をアップロード" %><br>  
    <%= f.file_field :image %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :adress, "住所" %><br>
    <%= f.text_area :adress, cols: 60, rows: 4,class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :city_id, "エリア" %><br>
    <%= f.collection_select :city_id, City.all,:id,:name,:prompt => "選択してください" %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :station, "最寄駅" %><br>
    <%= f.text_field :station, class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :access, "アクセス" %><br>
    <%= f.text_area :access, class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :wifi, "WI-FI" %><br>
    <%= f.text_area :wifi, class: 'form-control' %>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :plug, "コンセント" %><br>
    <%= f.text_area :plug, class: 'form-control'%>
  </div>
  
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :business_hours, "営業時間" %><br>
    <%= f.text_area :business_hours, class: 'form-control'%>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :regular_holiday, "定休日" %><br>
    <%= f.text_area :regular_holiday, class: 'form-control'%>
  </div>
  
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :phone, "電話番号" %><br>
    <%= f.text_field :phone ,class: 'form-control'%>
  </div>
 
  <div class="col-md-6 offset-md-3 form-article-new">
    <%= f.label :url, "URL" %><br>
    <%= f.text_area :url, cols: 60, rows: 4,class: 'form-control' %>
  </div>
 
  <div class="col-md-6 offset-md-3 actions">
    <%= f.submit "登録する",class:'btn btn-lg btn-primary btn-block rounded-pill' %>
  </div>
  
<% end %>