<% provide(:title, "詳細") %>

<div class="col-md-6 offset-md-3 mypage">
  <table class="table table-hover">
    <tbody>
        <tr>
            <th>店名</th>
            <th><%= @article.store_name %></th>
        </tr>
        <tr>
            <th>画像</th>
            <td><%= image_tag @article.image.thumb.url %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= @article.adress %></td>
        </tr>
        <tr>
            <th>エリア</th>
            <td><%= @city.name %></td>
        </tr>
        <tr>
            <th>アクセス</th>
            <td><%= simple_format @article.access %></td>
        </tr>
        <tr>
            <th>Wifi</th>
            <td><%= simple_format @article.wifi %></td>
        </tr>
        <tr>
            <th>コンセント</th>
            <td><%= simple_format @article.plug %></td>
        </tr>
        <tr>
            <th>営業時間</th>
            <td><%= simple_format @article.business_hours %></td>
        </tr>
        <tr>
            <th>定休日</th>
            <td><%= simple_format @article.regular_holiday %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @article.phone %></td>
        </tr>
        <tr>
            <th>URL</th>
            <td><%= link_to @article.url,@article.url unless @article.url.nil?%></td>
        </tr>
        <tr>
            <th>地図</th>
            <td>
                <iframe frameborder="0" style="border:0; width: 100%; height: 50vh" 
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDOWfdHD1a9TyLFcK8SIAsFpazMnec2gWY&q=<%= @article.store_name %>"
                allowfullscreen>
                </iframe>
            </td>
        </tr>
    </tbody>
  </table>
  <span id="article-<%= @article.id %>-favorite">
    <%= render 'shared/favorites', article: @article, favorite: @favorite %>
  </span>
  <% if !user_signed_in?%>
    <p><%= button_to "会員登録して口コミを見る！", new_user_registration_path,class:'btn btn-primary mx-auto d-block',method: :get%></p>
  <% else%>
    <h3 class="border-bottom">口コミ一覧</h3>
    <%= render @article.comments.page(params[:page]).per(3).order('created_at DESC') %>
    <!--render partial: "comments/comment", collection: @article.comments-->
    <div class="text-center">
        <%= paginate (@article.comments.page(params[:page]).per(3).order('created_at DESC')) ,class: "justify-content-center"%>
    </div>
  <% end%>
</div>

<%= render "comments/form" %>
  
 