<h1>記事詳細画面</h1>

<div class="col-md-6 offset-md-3 mypage">
  <table class="table table-hover">
    <tbody>
        <tr>
            <th>店名</th>
            <th><%= @article.store_name %></th>
        </tr>
        <tr>
            <th>画像</th>
            <td><%= image_tag @article.image.thumb.url %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= @article.adress %></td>
        </tr>
        <tr>
            <th>エリア</th>
            <td><%= @city.name %></td>
        </tr>
        <tr>
            <th>最寄駅</th>
            <td><%= @article.station %></td>
        </tr>
        <tr>
            <th>アクセス</th>
            <td><%= @article.access %></td>
        </tr>
        <tr>
            <th>Wifi</th>
            <td><%= @article.wifi %></td>
        </tr>
        <tr>
            <th>コンセント</th>
            <td><%= @article.plug %></td>
        </tr>
        <tr>
            <th>営業時間</th>
            <td><%= @article.business_hours %></td>
        </tr>
        <tr>
            <th>定休日</th>
            <td><%= @article.regular_holiday %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @article.phone %></td>
        </tr>
        <tr>
            <th>URL</th>
            <td><%= @article.url %></td>
        </tr>
        <tr>
            <th>地図</th>
            <td>
                <iframe frameborder="0" style="border:0; width: 100%; height: 50vh" 
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDOWfdHD1a9TyLFcK8SIAsFpazMnec2gWY&q=<%= @article.store_name %>"
                allowfullscreen>
                </iframe>
            </td>
        </tr>
    </tbody>
  </table>
</div>
  
 <% if user_signed_in? %>
   <h2>口コミ一覧</h2>
   <%= render @article.comments%>
   <!--render partial: "comments/comment", collection: @article.comments-->
 <% end%>
  
  
 <%= render "comments/form" %>
  
 