<h1>記事詳細画面</h1>

  <p>
    <strong>店名：</strong>
    <%= @article.store_name %>
  </p>
  
  <p>
    画像アップロード機能（できれば複数）
  </p>
  
  <p>
    <strong>住所：</strong>
    <%= @article.adress %>
  </p>
  
  <p>
    <strong>エリア：</strong>
    <%= @article.area %>
  </p>
  
  <p>
    <strong>最寄駅：</strong>
    <%= @article.station %>
  </p>
  
  <p>
    <strong>アクセス：</strong>
    <%= @article.access %>
  </p>
  
  <p>
    <strong>wifi：</strong>
    <%= @article.wifi %>
  </p>
  
  <p>
    <strong>コンセント：</strong>
    <%= @article.plug %>
  </p>
  
  <p>
    <strong>営業時間：</strong>
    <%= @article.business_hours %>
  </p>
  
  <p>
    <strong>定休日：</strong>
    <%= @article.regular_holiday %>
  </p>
  
  <p>
    <strong>電話番号：</strong>
    <%= @article.phone %>
  </p>
 
 <p>
   <strong>URL：</strong>
    <%= @article.url %>
 </p>
 <% if user_signed_in? %>
   <h2>口コミ一覧</h2>
   <%= render @article.comments%>
   <!--render partial: "comments/comment", collection: @article.comments-->
 <% end%>
  
  
 <%= render "comments/form" %>
  
 