<h1>記事詳細画面</h1>

  <p>
    <%= @article.store_name %>
  </p>
  
  <p>
    画像アップロード機能（できれば複数）
  </p>
  
  <p>
    <%= @article.adress %>
  </p>
  
  <p>
    <%= @article.area %>
  </p>
  
  <p>
    <%= @article.station %>
  </p>
  
  <p>
    <%= @article.access %>
  </p>
  
  <p>
    <%= @article.wifi %>
  </p>
  
  <p>
    <%= @article.plug %>
  </p>
  
  <p>
    <%= @article.business_hours %>
  </p>
  
  <p>
    <%= @article.regular_holiday %>
  </p>
  
  <p>
    <%= @article.phone %>
  </p>
 
 <p>
    <%= @article.url %>
  </p>
 

  
