<h2>パスワードの再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col-md-6 offset-md-3 form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control' %>
  </div>

  <div class="col-md-6 offset-md-3 actions">
    <%= f.submit "送信する",class:'btn btn-lg btn-primary btn-block rounded-pill' %>
  </div>
<% end %>
  <div class="col-md-6 offset-md-3 form-group">
    <%= render "devise/shared/links" %>
  </div>

