<% if user_signed_in? %>
  <% if article.favorite_user(current_user.id) %>
    <%= button_to article_favorite_path(article, favorite), method: :delete, remote: true,class:'btn btn-success' do %>
      <p>お気に入りを外す</p>  
      <span>
        <%= article.favorites_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to article_favorites_path(article), remote: true,class:'btn btn-outline-success' do %>
      <p>お気に入りに追加する</p>  
      <span>
        <%= article.favorites_count %>
      </span>
    <% end %>  
  <% end %>
<% else %>
  <i class="fa fa-star-o "></i> 
  <span>
    <%= article.favorites_count %>
  </span>
<% end %>