<% if user_signed_in? %>
  <% if article.favorite_user(current_user.id) %>
    <%= button_to article_favorite_path(article, favorite), method: :delete, remote: true do %>
      <i class="fa fa-star "></i>
      <span>
        <%= article.favorites_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to article_favorites_path(article), remote: true do %>
      <i class="fa fa-star-o "></i>  
      <span>
        <%= article.favorites_count %>
      </span>
    <% end %>  
  <% end %>
<% else %>
  <i class="fa fa-star-o "></i> 
  <span>
    <%= article.favorites_count %>
  </span>
<% end %>