<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Free-Wifi-Cafe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "お店を探す",articles_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "お気に入りした店舗",favorites_path,class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アカウント</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <%= link_to "マイページ",user_path(current_user),class: "dropdown-item" %>
                  <%= link_to "設定",edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "dropdown-item" %>
                </div>
            </li>
                <!--管理者のみ表示できる、利用できるようにしたい-->
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "管理者画面",rails_admin_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "記事投稿画面",new_article_path, class: "nav-link" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to "このサイトについて",about_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "記事一覧",articles_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録",new_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン",new_user_session_path,class: "nav-link" %>
          　</li>
          <% end %>
        </ul>
      </div>
    </nav>
