<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "記事一覧",articles_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "いいねした店舗",class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アカウント</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <%= link_to "マイページ",class: "dropdown-item" %>
                  <%= link_to "設定",edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "dropdown-item" %>
                </div>
            </li>
                <!--管理者のみ表示できる、利用できるようにしたい-->
            <% if current_user.try(:admin?) %>
              <li class="nav-item">
                <%= link_to "管理者画面",rails_admin_path, class: "nav-link" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to "このサイトについて",about_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "記事一覧",articles_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録",new_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン",new_user_session_path,class: "nav-link" %>
          　</li>
          <% end %>
             
        <!--  <li class="nav-item dropdown">-->
        <!--    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
        <!--    <div class="dropdown-menu" aria-labelledby="dropdown01">-->
        <!--      <a class="dropdown-item" href="#">Action</a>-->
        <!--      <a class="dropdown-item" href="#">Another action</a>-->
        <!--      <a class="dropdown-item" href="#">Something else here</a>-->
        <!--    </div>-->
        <!--  </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
